body {
    background-color: rgb(191, 220, 224);
}
#score {
    color: rgb(108, 107, 202);
    position: fixed;
    left: 0px;
}
#timer {
    position: fixed;
    right: 6%;
    color: rgb(108, 107, 202);
}
#quiz {
    border: 15px solid lemonchiffon;
    background-color: rgb(154, 159, 201);
    color: lemonchiffon;
    margin-top: 12%;
    padding: 8%;
    float: center;
}
#quizTitle {
    text-align: center;
    float: top;
}
#directions {
    text-align: center;
}
#start {
    margin-left: 42%;
}
#startQuiz {
    border: 15px solid lemonchiffon;
    background-color: rgb(154, 159, 201);
    color: lemonchiffon;
    margin-top: 12%;
    padding: 8%;
    float: center;
    display: none;
}
#results {
    border: 15px solid lemonchiffon;
    background-color: rgb(154, 159, 201);
    color: lemonchiffon;
    margin-top: 12%;
    padding: 8%;
    float: center;
    display: none;
}