body {
    background-color: rgb(191, 220, 224);
}
#score {
    color: rgb(108, 107, 202);
    position: fixed;
    left: 0px;
}
#timer {
    position: fixed;
    right: 6%;
    color: rgb(108, 107, 202);
}
#quiz {
    border: 15px solid lemonchiffon;
    background-color: rgb(154, 159, 201);
    color: lemonchiffon;
    margin-top: 12%;
    padding: 8%;
    float: center;
}
#noTime {
    color: rgb(108, 107, 202);
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    display: none;
}
#quizTitle {
    text-align: center;
}
#directions {
    text-align: center;
}
#start {
    margin-left: 390px;
}
#startQuiz {
    border: 15px solid lemonchiffon;
    background-color: rgb(154, 159, 201);
    color: lemonchiffon;
    margin-top: 12%;
    padding: 8%;
    float: center;
    display: none;
}
#results {
    border: 15px solid lemonchiffon;
    background-color: rgb(154, 159, 201);
    color: lemonchiffon;
    margin-top: 12%;
    padding: 8%;
    float: center;
    display: none;
}

#resultsTitle {
    text-align: center;
}

#yourScore {
    text-align: center;
}

#goBack {
    margin-left: 410px;
}

#correctShow {
    display: none;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: rgb(154, 159, 201);
}

#incorrectShow {
    display: none;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: rgb(154, 159, 201);
}